@page
@model EksamenProjekt2Sem.Pages.Order.CreateOrderModel
@{
}

<h1>Opret bestilling</h1>



<form method="post">
    @if (Model.Cart.User != null)
    {
        <h3>Bruger</h3>
        <p>Navn: @Model.Cart.User.Name</p>
        <p>Email: @Model.Cart.User.Email</p>
        <p>Telefonnummer: @Model.Cart.User.PhoneNumber</p>
    }

    <div class="form-group">
        <label asp-for="PickupTime" class="control-label"></label>
        <input asp-for="PickupTime" class="form-control" />
        <span asp-validation-for="PickupTime" class="text-danger"></span>
    </div>



    <h2>Nuværende indhold</h2>

    @{
        double totalPrice = 0;
    }

    @if (Model.Cart != null && Model.Cart.OrderLines.Any())
    {
        @foreach (var orderLine in Model.Cart.OrderLines)
            {
                <p>@orderLine.Food.Ingredients, @orderLine.Quantity, @orderLine.Food.Price</p>

                totalPrice += orderLine.Food.Price * orderLine.Quantity;
            }
        <p>Samlet pris: @totalPrice.ToString("0.00") kr.</p>
    }

    <p>
        <div class="form-group">
            <input type="submit" class="btn btn-danger" value="Bekræft" />
        </div>
    </p>
</form>