@page
@model EksamenProjekt2Sem.Pages.Order.CreateOrderModel
@{
}

<h1>Opret bestilling</h1>

@if (Model.User != null)
{
    <h3>Bruger</h3>
    <p>Navn: @Model.User.Name</p>
    <p>Email: @Model.User.Email</p>
    <p>Telefonnummer: @Model.User.PhoneNumber</p>
}

<h2>Nuværende indhold</h2>

@if (Model.Sandwich != null)
{
    <p>@Model.Sandwich.Ingredients</p>

    <form method="post" asp-page-handler="OrderSandwich" asp-route-id="@Model.Sandwich.Id">
        <br />
        <h3>Vælg afhentningsdato</h3>
        <div class="form-group" style="width:250px;">
            <input asp-for="@Model.PickupTime" class="form-control" />
        </div>

        <br />
        <h3>Vælg antal</h3>
        <div class="form-group" style="width:250px;">
            <input asp-for="@Model.Quantity" class="form-control" />
        </div>
        <br />

        <p>
            <div class="form-group">
                <input type="submit" class="btn btn-danger" style="background-color:#ff2d00;" value="Bekræft" />
            </div>
        </p>
    </form>

    <div>
        <a asp-page="/Food/Sandwich/ReadAllSandwiches">Tilbage</a>
    </div>
}
else if (Model.WarmMeal != null)
{
    <p>@Model.WarmMeal.Ingredients</p>

    <form method="post" asp-page-handler="OrderWarmMeal" asp-route-id="@Model.WarmMeal.Id">
        <br />
        <h3>Vælg afhentningsdato</h3>
        <div class="form-group" style="width:250px;">
            <input asp-for="@Model.PickupTime" class="form-control" />
        </div>

        <br />
        <h3>Vælg antal</h3>
        <div class="form-group" style="width:250px;">
            <input asp-for="@Model.Quantity" class="form-control" />
        </div>
        <br />

        <p>
            <div class="form-group">
                <input type="submit" class="btn btn-danger" style="background-color:#ff2d00;" value="Bekræft" />
            </div>
        </p>
    </form>

    <div>
        <a asp-page="/Food/Sandwich/ReadAllSandwiches">Tilbage</a>
    </div>
}
else if (Model.CampaignOffer != null)
{
    <p>@Model.CampaignOffer.Name</p>

    <form method="post" asp-page-handler="OrderCampaignOffer" asp-route-id="@Model.CampaignOffer.Id">
        <br />
        <h3>Vælg afhentningsdato</h3>
        <div class="form-group" style="width:250px;">
            <input asp-for="@Model.PickupTime" class="form-control" />
        </div>

        <br />
        <h3>Vælg antal</h3>
        <div class="form-group" style="width:250px;">
            <input asp-for="@Model.Quantity" class="form-control" />
        </div>
        <br />

        <p>
            <div class="form-group">
                <input type="submit" class="btn btn-danger" style="background-color:#ff2d00;" value="Bekræft" />
            </div>
        </p>
    </form>

    <div>
        <a asp-page="/Food/Sandwich/ReadAllSandwiches">Tilbage</a>
    </div>
}