@page
@model EksamenProjekt2Sem.Pages.Order.ReadAllOrdersModel
@{
}

<h1>All Orders</h1>

<form method="post">
    <input type="text" asp-for="SearchString" placeholder="Search by ingredient..." />
    <button type="submit">Search</button>
</form>

@if (Model.Orders != null && Model.Orders.Any())
{
    <ul>
        @foreach (var order in Model.Orders)
        {
            double totalPrice = 0;

            <li>
                <strong>Order ID:</strong> @order.Id<br />
                <strong>Customer:</strong> @order.User.Name<br />
                <strong>Date:</strong> @order.PickupTime<br />
                <ul>
                    @foreach (var line in order.OrderLines)
                    {
                        <li>
                            <p>@line.Food.Ingredients, @line.Quantity stk., @line.Food.Price kr.</p>
                        </li>

                        totalPrice += line.Food.Price * line.Quantity;
                    }
                </ul>
                <strong>Samlet pris: @totalPrice.ToString("0.00") kr.</strong>
            </li>
        }
    </ul>
}
else
{
    <p>No orders found.</p>
}