@page
@model EksamenProjekt2Sem.Pages.Order.ReadAllOrdersModel
@{
}

<h1>Alle ordrer</h1>

<form method="post">
    <input type="text" asp-for="SearchString" placeholder="ikke implementeret" />
    <button type="submit">Søg</button>
</form>

@if (Model.Orders != null)
{
        @foreach (var order in Model.Orders)
        {
            @if (order.FoodId != null)
            {
                <p>Indhold: @order.Food.Ingredients.</p>
                <p>Antal: @order.Quantity stk.</p>
                <p>Samlet pris: @(order.Food.Price * order.Quantity) kr.</p>
            }
            @if (order.CampaignOffer != null)
            {
                <p>Indhold: @order.CampaignOffer.Name.</p>
                <p>Antal: @order.Quantity stk.</p>
                <p>Samlet pris: @(order.CampaignOffer.Price * order.Quantity) kr.</p>
            }
            <br />
            <br />
        }
}
else
{
    <p>Ingen ordrer fundet.</p>
}