
@page
@model EksamenProjekt2Sem.Pages.Food.WarmMeal.ReadAllWarmMealsModel
@{
}

<style>
    .inputsize {
    width: 50px;
    }

    body {
    background-image: url("/images/Warmmeal.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    }

    .button {
    float: right;
    }
</style>

<h1>Menuer</h1>

<div class="row">
    <div class="col-7"><h5>Søg kød</h5></div>
    <div class="col-1"></div>
</div>

<div class="row">
    <div class="col-4">
        <form method="post" class="form-inline">
            <div class="input-group mb-3" style="width:250px;">
                <input asp-for="SearchMeatType" class="form-control mr-1" placeholder="Søg" />
                <input type="submit" asp-page-handler="SearchMeatType" value="Søg" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<table class="table table-hover table-light">
    <thead>
        <tr>
            <th>Ingredienser</th>
            <th>Kødtype</th>
            <th>Bestil minimum antal portioner</th>
            <th>Kun i sæson *</th>
            <th>Pris pr portion (DKK)</th>
            <th>Bestil her</th>
            @{
                if (HttpContext.User.Identity != null && HttpContext.User.Identity.Name == "admin@admin.com")
                {
                    <th>Opdater Varm ret</th>
                    <th>Fjern Varm ret</th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @{
            if (Model.WarmMeals != null)
            {
                foreach (var warmmeal in Model.WarmMeals)
                {
                    <tr>
                        <td>@warmmeal.Ingredients</td>
                        <td>@warmmeal.MeatType</td>
                        <td>@warmmeal.MinPersonAmount</td>
                        <td>@warmmeal.InSeason</td>
                        <td>@warmmeal.Price</td>
                        <td>
                            <a class="btn btn-danger" style="background-color:#ff2d00;" type="button" title="Bestil" asp-page="/Order/CreateOrder" asp-route-type="WarmMeal" asp-route-id="@warmmeal.Id"><p>Bestil</p></a>
                        </td>
                        @{
                            if (HttpContext.User.Identity != null && HttpContext.User.Identity.Name == "admin@admin.com")
                            {
                                <td>
                                    <a class="btn btn-primary btn-sm" type="button" title="Opdater" asp-page="UpdateWarmMeal" asp-route-id="@warmmeal.Id"><i class="fa">Opdater</i></a>
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-sm" type="button" title="Opdater" asp-page="DeleteWarmMeal" asp-route-id="@warmmeal.Id"><i class="fa">Fjern</i></a>
                                </td>
                            }
                        }
                    </tr>
                }
            }
        }
    </tbody>
</table>