@page
@model EksamenProjekt2Sem.Pages.CampaignOffer.ReadAllCampaignOffersModel
@{
}

<h1>Kampagne</h1>

<table class="table">
    <thead>
        <tr>
            <th>Navn</th>
            <th>Billede</th>
            <th>Pris</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@{
    if (Model.CampaignOffers != null)
    {
        foreach (var campaignOffer in Model.CampaignOffers)
        {
            <tr>
                <td>@campaignOffer.Name</td>
                <td>
                    @if (!string.IsNullOrEmpty(campaignOffer.ImageLink))
                    {
                        <img src="@campaignOffer.ImageLink" alt="billede" width="600" height="400" />
                    }
                    else
                    {
                        <span>No image</span>
                    }
                </td>
                <td>@campaignOffer.Price</td>
                <td>
                    <a asp-page="./UpdateCampaignOffer" asp-route-id="@campaignOffer.Id">Rediger</a> |
                    <a asp-page="./DeleteCampaignOffer" asp-route-id="@campaignOffer.Id">Slet</a>
                </td>
            </tr>
        }
    }
}
</tbody>
@*     <tbody>
        @{
            if (Model.CampaignOffers != null)
            {
                foreach (var campaignOffer in Model.CampaignOffers)
                {
                    <tr>

                        <td><img src="@campaignOffer.ImageLink" alt="billede" width="600" height="400" /></td>
                      
                        <td>
                            <a asp-page="./UpdateCampaignOffer" asp-route-id="@campaignOffer.Id">Rediger</a> |
                            <a asp-page="./DeleteCampaignOffer" asp-route-id="@campaignOffer.Id">Slet</a>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table> *@

