@page
@model EksamenProjekt2Sem.Pages.CampaignOffer.ReadAllCampaignOffersModel
@{
}

<h1>Kampagne</h1>

<table class="table" style="width: 100%; table-layout: fixed;">
    <thead>
        <tr>
            <th style="width: 30%;">Navn</th>
            <th style="width: 40%;">Billede</th>
            <th style="width: 20%; text-align: center;">Pris</th>
            @{

                if (HttpContext.User.Identity != null && HttpContext.User.Identity.Name == "admin@admin.com")
                {
                    <th style="width: 5%; text-align: right;">Opdater</th>
                    <th style="width: 5%; text-align: right;">Slet</th>
                }
            }
        </tr>
    </thead>
</table>
<table class="table" style="width: 100%; table-layout: fixed;">
<tbody>

    @{
        if (Model.CampaignOffers != null)
        {
            foreach (var campaignOffer in Model.CampaignOffers)
            {
                <tr>
                    <td style="width: 30%;">@campaignOffer.Name</td>
                    <td style="width: 40%;">
                        @if (!string.IsNullOrEmpty(campaignOffer.ImageLink))
                        {
                            <img src="@campaignOffer.ImageLink" alt="billede" style="width: 60%; height: auto; margin: 0 auto;" />
                        }
                        else
                        {
                            <span>No image</span>
                        }
                    </td>
                    <td style="width: 20%; text-align: center;">@campaignOffer.Price,-</td>
                    @{

                        if (HttpContext.User.Identity != null && HttpContext.User.Identity.Name == "admin@admin.com")
                        {
                            <td style="width: 5%; text-align: right;">
                                <a class="btn btn-primary btn-sm" type="button" title="Rediger" asp-page="./updateCampaignOffer" asp-route-id="@campaignOffer.Id"><i class="fa">Rediger</i></a>
                            </td>
                            <td style="width: 5%; text-align: right;">
                                <a class="btn btn-primary btn-sm" type="button" title="Rediger" asp-page="./DeleteCampaignOffer" asp-route-id="@campaignOffer.Id"><i class="fa">Slet</i></a>
                            </td>
                        }
                    }
                </tr>
            }
        }
    }
</tbody>
</table>
@*     <tbody>
        @{
            if (Model.CampaignOffers != null)
            {
                foreach (var campaignOffer in Model.CampaignOffers)
                {
                    <tr>

                        <td><img src="@campaignOffer.ImageLink" alt="billede" width="600" height="400" /></td>

                        <td>
                            <a asp-page="./UpdateCampaignOffer" asp-route-id="@campaignOffer.Id">Rediger</a> |
                            <a asp-page="./DeleteCampaignOffer" asp-route-id="@campaignOffer.Id">Slet</a>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table> *@

