@page
@model EksamenProjekt2Sem.Pages.CampaignOffer.ReadAllCampaignOffersModel
@{
}
<style>
    .inputsize {
        width: 50px;
    }

    body {
        @*background-image: url("/images/Sandwich1.png");*@
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    .button {
        float: right;
    }
</style>

<h1>Kampagne</h1>


<table class="table table-hover table-light">
    <thead>
        <tr>
            <th>Navn</th>
            <th>Billede</th>
            <th>Pris (DKK)</th>
            <th>Start Tid</th>
            <th>Slut Tid</th>
            <th>Bestil her</th>
            @{
                if (HttpContext.User.Identity != null && HttpContext.User.Identity.Name == "admin@admin.com")
                {
                    <th>Opdater CampaignOffer</th>
                    <th>Fjern CampaignOffer</th>
                }
            }
        </tr>
    </thead> 
    <tbody>
        @{
            if (Model.CampaignOffers != null)
            {
                foreach (var campaignOffer in Model.CampaignOffers)
                {
                    if (campaignOffer.IsActive == false && !(HttpContext.User.Identity != null && HttpContext.User.Identity.Name == "admin@admin.com"))
                    {
                        continue;
                    }
                    <tr>
                        <td>@campaignOffer.Name</td>
                        <td><img src="@campaignOffer.ImageLink"/></td>
                        <td>@campaignOffer.Price</td>
                        <td>@campaignOffer.StartTime</td>
                        <td>@campaignOffer.EndTime</td>
                        <td>
                            <a class="btn btn-danger" style="background-color:#ff2d00;" type="button" title="Bestil" asp-page="/Order/CreateOrder" asp-route-type="CampaignOffer" asp-route-id="@campaignOffer.Id"><p>Bestil</p></a>
                        </td>
                        @{
                            if (HttpContext.User.Identity != null && HttpContext.User.Identity.Name == "admin@admin.com")
                            {
                                <td>
                                    <a class="btn btn-primary btn-sm" type="button" title="Opdater" asp-page="UpdateCampaignOffer" asp-route-id="@campaignOffer.Id"><i class="fa">Opdater</i></a>
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-sm" type="button" title="Slet" asp-page="DeleteCampaignOffer" asp-route-id="@campaignOffer.Id"><i class="fa">Fjern</i></a>
                                </td>
                            }
                        }
                    </tr>
                    
                }
            }
        }
    </tbody>
</table>

