@page
@model EksamenProjekt2Sem.Pages.Food.Sandwich.ReadAllSandwichesModel
@{
}

<style>
    .inputsize {
        width: 50px;
    }

    body {
        background-image: url("/images/sandwich.png");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    .button {
        float: right;
    }
</style>

<h1>Smørrebrød</h1>


<div class="row">
    <div class="col-7"><h5>Søg kød</h5></div>
    <div class="col-1"></div>
</div>

<div class="row">
    <div class="col-4">
        <form method="post" class="form-inline">
            <div class="input-group mb-3">
                <input asp-for="SearchMeatType" class="form-control mr-1" placeholder="Søg" />
                <input type="submit" asp-page-handler="SearchMeatType" value="Søg" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-3"></div>
    <div>
        <div class="col-7"><h5>Søg Kategori</h5></div>
        <form method="post">
            <div>
                <input asp-for="SearchCategory" placeholder="Søg" />
                <input type="submit" asp-page-handler="SearchCategory" value="Søg" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<table class="table table-hover table-light">
    <thead>
        <tr>
            <th>Ingredienser</th>>
            <th>Kødtype</th>
            <th>Kategori</th>
            <th>Kun i sæson *</th>
            <th>Pris (DKK)</th>
            <th>Vælg antal</th>
            <th></th>
        </tr>
    </thead> 
    <tbody>
        @{
            if (Model.Sandwiches != null)
            {
                // int i = 0;
                foreach (var sandwich in Model.Sandwiches)
                {
                    <tr>
                        <td>@sandwich.Ingredients</td>
                        <td>@sandwich.MeatType</td>
                        <td>@sandwich.Category</td>
                        <td>@sandwich.InSeason</td>
                        <td>@sandwich.Price</td>
                        <td><input class="inputsize" type="number" value="0" min="0" /></td>
                        <td>
                            <div class="button" style="float: left">
                                <input type="submit" value="Tilføj" class="btn btn-outline-dark" />
                            </div>
                        </td>
                    </tr>
                    // i++;
                }
            }
        }
@*     <td><input class="inputsize" type="number" value="@Model.AmountSandwich[i]" name="AmountSandwich[@i]" min="0" /></td> *@
    </tbody>
</table>

<div class="button" style="margin-bottom: 10px;">
    <input type="submit" value="Gå til kurv" class="btn btn-danger" />
</div>

@* <style>
    .food {
        background-color: whitesmoke;
        color: black;
        border: 2px solid black;
        margin: 20px;
        padding: 20px;
        width: 580px;
        float: left;
    }

    .filterbox {
        background-color: lightgrey;
        border: 1px solid black;
        padding: 10px;
        width: 280px;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    .filterbox div {
        display: flex;
    }

    .button {
        float: right;
    }

    footer {
        height: 0px;
        background-color: white;
    }

    .inputsize {
        width: 50px;
    }
</style>

<h1>Smørrebrødsudvalg</h1>
    <h4>Vælg ingredienser</h4>
    <div class="filterbox">
        <div>
            <input type="checkbox" id="meat1" />
            <label for="meat1">Fjerkræ</label><br />
        </div>
        <div>
            <input type="checkbox" id="meat2" />
            <label for="meat2">Okse</label><br />
        </div>
        <div>
            <input type="checkbox" id="meat3" />
            <label for="meat3">Fisk</label><br />
        </div>
        <div>
            <input type="checkbox" id="meat4" />
            <label for="meat4">Gris</label><br />
        </div>
    </div>


    <div class="food">
        <h3>Diverse</h3>
        @foreach (var sandwich in Model.Sandwiches)
        {
            <p>
                @sandwich.Ingredients, Pris: @sandwich.Price DKK.
            <input class="inputsize" type="number" value="0" id="input" />
            </p>
        }
    </div>

    <div class="food">
        <h3>Luksussmørrebrød</h3>
        @foreach (var sandwich in Model.Sandwiches)
        {
        <p>
            @sandwich.Ingredients, Pris: @sandwich.Price DKK.
            <input class="inputsize" type="number" value="0" id="input" />
            </p>
        }
    </div>

    <div class="food">
        <h3>Almindelig smørrebrød</h3>
        @foreach (var sandwich in Model.Sandwiches)
        {
        <p>
            @sandwich.Ingredients, Pris: @sandwich.Price DKK.
            <input class="inputsize" type="number" value="0" id="input" />
            </p>
        }
    </div>

    <div class="food">
        <h3>Signatur</h3>
        @foreach (var sandwich in Model.Sandwiches)
        {
        <p>
            @sandwich.Ingredients, Pris: @sandwich.Price DKK.
            <input class="inputsize" type="number" value="0" id="input" />
            </p>
        }
    </div>

    <div class="button">
        <input type="submit" value="Bekræft valg" class="btn btn-danger" />
    </div>

 *@