@page
@model EksamenProjekt2Sem.Pages.Food.Sandwich.ReadAllSandwichesModel
@{
}

<style>
    .inputsize {
    width: 50px;
    }

    body {
    background-image: url("/images/Sandwich1.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    }

    .button {
    float: right;
    }
</style>

<h1>Smørrebrød</h1>


<div class="row">
    <div class="col-7"><h5>Søg kød</h5></div>
    <div class="col-1"></div>
</div>

<div class="row">
    <div class="col-4">
        <form method="post" class="form-inline">
            <div class="input-group mb-3" style="width:250px;">
                <input asp-for="SearchMeatType" class="form-control mr-1" placeholder="Søg" />
                <input type="submit" asp-page-handler="SearchMeatType" value="Søg" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-7"><h5>Søg Kategori</h5></div>
    <div class="col-1"></div>
</div>

<div class="row">
    <div class="col-4">
        <form method="post">
            <div class="input-group mb-3" style="width:250px;">
                <input asp-for="SearchCategory" class="form-control mr-1" placeholder="Søg" />
                <input type="submit" asp-page-handler="SearchCategory" value="Søg" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<table class="table table-hover table-light">
    <thead>
        <tr>
            <th>Ingredienser</th>
            <th>Kødtype</th>
            <th>Kategori</th>
            <th>Kun i sæson *</th>
            <th>Pris (DKK)</th>
            <th>Vælg antal og tilføj</th>
            @{
                if (HttpContext.User.Identity != null && HttpContext.User.Identity.Name == "admin@admin.com")
                {
                    <th>Opdater Sandwich</th>
                    <th>Fjern Sandwich</th>
                }
            }
        </tr>
    </thead> 
    <tbody>
        @{
            if (Model.Sandwiches != null)
            {
                foreach (var sandwich in Model.Sandwiches)
                {
                    <tr>
                        <td>@sandwich.Ingredients</td>
                        <td>@sandwich.MeatType</td>
                        <td>@sandwich.Category</td>
                        <td>@sandwich.InSeason</td>
                        <td>@sandwich.Price</td>
                        <td>
                           <form method="post">
                                <div class="button" style="float: left">
                                    <input class="inputsize" type="number"
                                    name="Quantity" min="0" />
                                    <input type="submit" asp-page-handler="AddFoodToCart" asp-route-id="@sandwich.Id"
                                    value="Tilføj" class="btn btn-outline-dark" />
                                </div>
                            </form>
                        </td>
                        @{
                            if (HttpContext.User.Identity != null && HttpContext.User.Identity.Name == "admin@admin.com")
                            {
                                <td>
                                    <a class="btn btn-primary btn-sm" type="button" title="Opdater" asp-page="UpdateSandwich" asp-route-id="@sandwich.Id"><i class="fa">Opdater</i></a>
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-sm" type="button" title="Opdater" asp-page="DeleteSandwich" asp-route-id="@sandwich.Id"><i class="fa">Fjern</i></a>
                                </td>
                            }
                        }
                    </tr>
                }
            }
        }
    </tbody>
</table>

@{
    double totalPrice = 0;
}

@if (Model.Cart != null && Model.Cart.OrderLines != null)
{
    <div style="background-color: white;">
        @foreach (var orderLine in Model.Cart.OrderLines)
        {
            <div>
                <p style="display: inline;">
                    @orderLine.Food.Ingredients, @orderLine.Food.Price kr., @orderLine.Quantity stk.
                    <form method="post" style="display: inline; float: right;">
                            <input type="hidden" name="orderLineFoodId" value="@orderLine.Food.Id" />
                             <input type="hidden" name="quantity" value="@orderLine.Quantity" />
                        <button type="submit" asp-page-handler="DeleteOrderLine" class="btn btn-danger" style="background-color:#ff2d00;">X</button>
                    </form>
                </p>
            </div>

            totalPrice += orderLine.Food.Price * orderLine.Quantity;
        }

        <strong>Samlet pris: @totalPrice.ToString("0.00") kr.</strong>
    </div>
}


    <div class="button" style="margin-bottom: 10px;">
    <a class="btn btn-danger" style="background-color:#ff2d00;" asp-page="/Order/CreateOrder">Bestil</a>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>