@page
@model EksamenProjekt2Sem.Pages.User.CreateUserModel
@{
    //Very incorrect implementation of the page, but it is a placeholder for the actual implementation.
}

<form method="post">
    <div class="form-group">
        <label asp-for="@Model.User.Name" class="control-label">Navn</label>
        <input asp-for="@Model.User.Name" class="form-control" />
        <span asp-validation-for="@Model.User.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.User.Email" class="control-label">E-mail</label>
        <input asp-for="@Model.User.Email" class="form-control" />
        <span asp-validation-for="@Model.User.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.User.PhoneNumber" class="control-label">Telefonnummer</label>
        <input asp-for="@Model.User.PhoneNumber" class="form-control" />
        <span asp-validation-for="@Model.User.PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.User.Password" class="control-label">Adgangskode</label>
        <input asp-for="@Model.User.Password" class="form-control" />
        <span asp-validation-for="@Model.User.Password" class="text-danger"></span>
    </div>
    @{
        /* More inputs should be added here */
    }

    <p>
        <div class="form-group">
            <input type="submit" value="Opret" class="btn btn-primary" />
        </div>
    </p>
</form>